name: Deploy to UAT (Render)
on:
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    needs: build-push
    steps:
      - name: Deploy Backend to UAT (manual trigger)
        run: |
          curl -X POST "https://api.render.com/v1/services/${{ secrets.RENDER_SERVICE_ID_UAT_BACKEND }}/deploys"             -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}"             -H "Content-Type: application/json"             -d "{"clearCache": true, "dockerImage": "${{ env.IMAGE_BACKEND }}:${{ github.sha }}"}"
