name: Deploy to Dev (Render)

on:
  push:
    branches: [ develop ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Render Dev Deploy
        run: curl -X POST "${{ secrets.RENDER_SERVICE_ID_DEV_BACKEND  }}"