name: Deploy to Dev (Render)
on:
  push:
    branches: [ develop ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    needs: build-push
    steps:
      - name: Trigger Render Deploy - backend
        run: |
          curl -X POST "https://api.render.com/v1/services/${{ secrets.RENDER_SERVICE_ID_DEV_BACKEND }}/deploys"             -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}"             -H "Content-Type: application/json"             -d "{"clearCache": true, "dockerImage": "${{ env.IMAGE_BACKEND }}:${{ github.sha }}"}"
