name: Build and Push Docker Images      #final
on:
  push:
    branches: [ main, master ]
  workflow_dispatch:
permissions:
  contents: read
  packages: write
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Lowercase owner
        id: owner
        run: echo "name=${GITHUB_REPOSITORY_OWNER,,}" >> $GITHUB_OUTPUT

      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      # Backend – use root context
      - name: Build & push backend
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            ghcr.io/${{ steps.owner.outputs.name }}/pta-fullstack-backend:latest
            ghcr.io/${{ steps.owner.outputs.name }}/pta-fullstack-backend:${{ github.sha }}


      # Frontend – use its own folder + own Dockerfile
      - name: Build & push frontend
        uses: docker/build-push-action@v6
        with:
          context: ./src/PTA.UI
          file: ./src/PTA.UI/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ steps.owner.outputs.name }}/pta-fullstack-frontend:latest
            ghcr.io/${{ steps.owner.outputs.name }}/pta-fullstack-frontend:${{ github.sha }}
